{% extends 'base.html' %}
{% block content %}
<div id="a-site">
    <h4>A-site codon</h4>
    <p>The codon that is being translated whose ribosome density is being estimated by quantification of mapped reads.</p>
</div>
<div id="offset">
    <h4>A-site offset</h4>
    <p>The distance between the 5' (or 3') end and the A-site codon while maintaining the same reading frame.</p>
</div>
<div id="fragment-size">
    <h4>Fragment size</h4>
    <p>The size of the read obtained in the Ribo-Seq Next-Generation Sequencing (NGS) experiment that represents a copy of the mRNA fragment protected by the ribosome and cleaved by the RNase enzyme.</p>
</div>
<div id="frame">
    <h4>Frame</h4>
    <p>The reading frame in which the 5' end of the read is.</p>
</div>
<div id="p-site">
    <h4>P-site codon</h4>
    <p>The codon immediately preceding the codon present in the A-site. This codon has been decoded in the ribosome and the corresponding amino acid will form a peptide bond with the amino acid encoded by the codon in the A-site.</p>
</div>
{% endblock %}

{% block javascript %}
<script>
  $("#nav-glossary").addClass("active");
</script>
{% endblock %}