{% extends 'base.html' %}
{% block content %}
<div>
{% for dict in jobs %}
  <h2>{{dict.title}}</h2>
  <table class="table table-bordered">
    <thead>
      <th>Job</th>
      <th>Created</th>
      <th>Status</th>
    </thead>
    <tbody>
      {% for job in dict.job_list %}
        <tr>
          <td><a href="{% url dict.link job.task_id %}">{{job.name}}</a> </td>
          <td class="datetime">{{job.create_date|date:'Y-m-d H:i T'}}</td>
          <td>{{job.status}} {% if job.status == "PENDING" or job.status == "RUNNING" %}<a href="{% url 'cancel_job' job.id %}" onclick="return confirm('Are you sure you want to cancel the job?')" class="btn btn-default">Cancel</a>{% endif %}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endfor %}
</div>
{% endblock %}
{% block javascript %}
<script>
  $("#nav-job").addClass("active");
  $('table').DataTable({
      "pageLength": 25,
      "ordering": false
  });
</script>
{% endblock %}