{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Asite IP method</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  {% block css %}{% endblock %}
  <style>
  #header {
    padding-top: 12px;    
    padding-bottom: 12px;
    margin-bottom: 0px;
  }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="jumbotron" id="header">
    <div class="container">
      <h1>A-site IP</h1>      
      <p>Identifying A- and P-site locations on ribosome-protected mRNA fragments using Integer Programming.</p>
    </div>
  </div>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
  {% block javascript %}{% endblock %}
</body>
</html>